# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables — NUNCA subir para o GitHub
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Alembic
alembic/versions/*.pyc

# IDE
.idea/
.vscode/
*.swp
